    <div class="page-header">
        <h1 class="title">Welcome to MindMateGPT</h1>
    </div>
    <div class="content-section what-do">
        <h2 class="section-title">Why?</h2>
        <ul class="info-list">
            <li>I believe mental health resources should be available to everyone whenever they need it.</li>
            <li>I believe Gen-Z mental health is in crisis partly because of social media.</li>
            <li>I believe GPT tech, although not a catch-all, provides a more balanced perspective than the vast majority of social media.</li>
            <li>I believe big tech (including OpenAI) has reached a temporary limit in machine intelligence, as seen by GPT4 essentially being 8 GPT3s, and the broader focus now should be on the specific application of the machine intelligence we already have.</li>
            <li style="font-weight:bold;">My mission is to apply this new machine intelligence to help the mental health crisis.</li>
        </ul>
    </div>
    <div class="content-section research-results">
        <h2 class="section-title">Interesting research results</h2>
        <ul class="info-list">
            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10254409/" target="_blank">Base GPT3 scores near perfect on EQ test (better than 99.9% of humans), while MindMateGPT scores perfect.</a></li>
            <li>MindMateGPT has much better insight the more you vent in the form and gives much better advice, usually the advice is more actionable and specific the more context you give in the form.</li>
            <li>MindMateGPT performs equal or better than Youper (another AI therapy tool) on a wide variety of tasks, and MindMateGPT almost invariably performs much better than Youper if you mindfully answer all the form questions.</li>
            <li>MindMateGPT has been tested to be ~50% more emotionally intelligent than ChatGPT. MindMateGPT has been tested to be ~40% more emotionally intelligent than Pi AI, exclusively on coping strategies, tactics, and actionable advice. Tested using OpenAI best practices.</li>
        </ul>
    </div>
    <div class="content-section focus-group">
        <h2 class="section-title">Focus group results</h2>
        <p class="info-paragraph">After vetting the survey for duplicate entries, I was left with 10 users that participated in the focus group.</p>
        <p class="info-paragraph">The average user had used the app for 3 weeks, and the average frequency was daily.</p>
        <p class="info-paragraph">100% of the users felt the app helped them improve their mental health, and 90% of them felt the app gave them a better ability to handle emotional distress.</p>
        <p class="info-paragraph">The average perceived mental health score went from a 3.8 to a 8.4 on a 1-10 scale.</p>
    </div>
    <div class="content-section how-it-works">
        <h2 class="section-title">How MindMateGPT Works</h2>
        <div class="tech-details">
            <h3 class="sub-title">Data Privacy & Storage</h3>
            <p class="info-paragraph">Your privacy is of utmost importance to us. MindMateGPT does not store any of your data in backend databases or any external cloud servers. All your journal entries, feedback, and session details are stored exclusively on your device. This ensures that your personal and emotional experiences remain private to you.</p>
            <h3 class="sub-title">Personalization & Session Memory</h3>
            <p class="info-paragraph">With each journal entry you make, MindMateGPT personalizes its approach to provide more tailored insights. By remembering your last session, the AI can pick up where it left off and offer advice based on previous discussions. This continuous learning mechanism aims to provide users with a seamless and progressively beneficial experience.</p>
            <h3 class="sub-title">Technology Behind MindMateGPT</h3>
            <p class="info-paragraph">MindMateGPT is built upon the advanced GPT-3 technology by OpenAI. Leveraging its massive neural network and deep learning capabilities, our application can generate human-like text responses based on the data it's trained on. Our focus on constant improvements ensures that the AI provides users with the most emotionally attuned and actionable advice possible.</p>
        </div>
    </div>

    <div class="content-section disclaimer">
        <h2 class="section-title">Disclaimer</h2>
        <h3 class="sub-title">Not a Replacement for Professional Help</h3>
        <p class="info-paragraph">Please note that this MindMateGPT application is not a substitute for professional mental health services. The advice and insights offered by the AI are generated through machine learning algorithms and don't account for the full complexities of human emotions and circumstances. If you're struggling with serious mental health issues, please reach out to a licensed professional or a trusted person in your life.</p>
        <h3 class="sub-title">Accuracy of Advice</h3>
        <p class="info-paragraph">While every effort has been made to ensure the AI provides beneficial and accurate advice, there's always the chance that it may provide inappropriate or incorrect guidance. Always use your best judgement when considering the AI's advice and never rely on it for critical decisions.</p>
        <h3 class="sub-title">Liability</h3>
        <p class="info-paragraph">The creators of this MindMateGPT application take no responsibility for any actions taken as a result of the advice provided by the AI. By using this tool, you understand and accept that any decisions you make based on the AI's advice are entirely your own responsibility.</p>
        <h3 class="sub-title">Emergency Situations</h3>
        <p class="info-paragraph">This AI is not capable of handling crisis situations. If you are in immediate danger or feeling suicidal, please reach out to a local emergency service immediately. You can find resources for immediate help at this <a href="https://www.psycom.net/get-help-mental-health" class="link">crisis hotline</a>.</p>
    </div>
    <div class="content-section feedback">
        <h2 class="section-title">Feedback</h2>
        <p class="info-paragraph">If you have any questions, comments, or concerns about this project, feel free to <a href="https://github.com/Atrone/MindMateGPT-V3/issues" class="link">open an issue</a>. I welcome any feedback and aim to continuously improve the MindMateGPT application.</p>
    </div>
    <div class="page-footer">
        <p class="info-paragraph">© 2023 MindMateGPT. All rights reserved.</p>
    </div>
