<p class="notice">IMPORTANT: This is completely anonymous. We do not store any data in the backend. Everything is stored in your browser.</p>

        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
<form id="contact_form" class="well form-horizontal" style="background-color: DDFBFE;">
        <fieldset>

            <div class="legend-container"> <!-- New container div -->
                <legend>Tell me about yourself.</legend>

        <div class="info-blurb">
            <p class="trigger-text">What do you use this for?</p>
            <div class="blurb-content">
                <p style="font-size: 10px">This information is used to steer the AI towards a more focused conversation about today's issues.
                    MBTI you only give us once, from then on we store that in your cookies for personality matching.
                    Feel free to leave the text boxes blank, but we recommend you treat this as a daily journal!
                </p>
            </div>
        </div>
            </div>

        <!-- Form Name -->

        <!-- Text input-->

        <div id="mbtiForm" class="form-group">
          <label class="col-md-4 control-label">What is your <a href="https://upload.wikimedia.org/wikipedia/commons/1/1f/MyersBriggsTypes.png" target="_blank">MBTI</a> type?</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input id="mbti" name="mbti" placeholder="ENTJ.. 50% feel 50% think... idk..." class="form-control" type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->


        <!-- Text input-->
                <div class="form-group">
          <label class="col-md-4 control-label">Tell me how you feel about your childhood.</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea id="childhood" class="form-control" name="childhood" placeholder="Right now, I remember... (or blank)"></textarea>
          </div>
          </div>
        </div>



        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Tell me about your relationship life.</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
          <textarea id="relationship" name="relationship" placeholder="Single, but... (or blank)" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <!-- Text input-->
                    <!-- Text input -->

            <div class="form-group">
          <label class="col-md-4 control-label">Tell me about your work.</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <textarea id="working" name="working" placeholder="I work as a software dev... (or blank)" class="form-control"></textarea>
            </div>
        </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-warning" style="background-color: #003366; border-color: #003366"
                        id="submitButtonForm" >Send Form<span class="glyphicon glyphicon-send"></span></button>
              </div>
            </div>
          </div>
        </div>
        </fieldset>
        </form>
