    <div class='container2'>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='content2'>
            <div class='text'>
                <h1 style="font-size: 48px;color: #003366;font-weight: bolder;font-family: 'Roboto';">MindMateGPT</h1>
                <p style="font-size: 24px;color: #003366;font-family: monospace;">Value through simplicity.</p>
                <div class='cta'>
                    <button onclick="hideContent()" type='button'>Try me!</button>
                    <button onclick="showInfo()">About</button>
                </div>
            <div class='section'>
                <h2 style="margin-top: 10px; font-size: 16px; color: #003366;font-weight: bold">What We Do</h2>
                <p style="font-size: 16px; color: #003366">AI therapy.<br>Journal with AI insights.<br>Tools for the human mind; not a replacement for human empathy.</p>
                <a style="font-size: 25px;" href="https://chat.openai.com/g/g-YAmDYMJq3-mindmategpt">Try us on GPTs!</a>
                <div class='testimonial-image'>
                    <img src='https://i.imgur.com/8brSgYX.png' alt='Testimonial Image'>
                </div>
                <a href="https://theresanaiforthat.com/ai/mindmategpt/?ref=embed&v=266161" target="_blank"><img width="300" src="https://media.theresanaiforthat.com/featured3.png"></a>
                <h2 style="font-size: 16px; color: #003366;font-weight: bold">Testimonials</h2>
                <p style="font-size: 16px; color: #003366">"It answers me right away and the best part is, it is available anytime, whenever I feel down and have no one to talk to."<br><span class='username'>- Focus group member</span></p>
                <p style="font-size: 16px; color: #003366">"i find it amazing and so far love it, private and very understanding"<br><span class='username'>- Focus group member</span></p>
                <p style="font-size: 16px; color: #003366">"Confidently able to talk with people"<br><span class='username'>- Focus group member</span></p>
                <p style="font-size: 16px; color: #003366">"The app's convenience fits well into my busy schedule."<br><span class='username'>- Focus group member</span></p>
                <p style="font-size: 16px; color: #003366">"Damn I talked to Mindy for like 45 minutes good stuff! Bookmarked, thanks for making this!!!"<br><span class='username'>- /u/Jubie210</span></p>
                <p style="font-size: 16px; color: #003366">"I liked it better than the therapists I've talked to."<br><span class='username'>- /u/Sue101010</span></p>
                <p style="font-size: 16px; color: #003366">"really good! I was so impressed with how it handled the nuances of working through a break up. thanks for sharing this <3"<br><span class='username'>- /u/Icy_Ad6586</span></p>
                <p style="font-size: 16px; color: #003366">"Hey! This is good. Good job."<br><span class='username'>- /u/PerfectParfait5</span></p>
                <p style="font-size: 16px; color: #003366">"Mfw I end up being the therapist for it as well"<br><span class='username'>- /u/Nomad_65</span></p>
            </div>
            </div>
        </div>
    </div>
