    <div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
	    <p style="font-size:10px;">Wait a while and check spam.</p>
                    <div class="bottom_wrapper">
                        <input id="downloadInput" placeholder="mindy@gmail.com" />
						<div id="downloadButton" style="background-color: #003366; border-color: #003366" class="app_button_1">Add to journal</div>
                        <div id="loadingSpinner2" style="display: none;">
                            <div class="spinner"></div>
                        </div>
                    </div>
    </div>
    </div>
    <div class='container3'>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div id="chat2">
            <div id="messages"></div>
            <input type="text" id="input2">
        </div>
    </div>
    <button style="display: block; margin: auto;" id="finished">Click me when finished therapy session</button>
        <div style="text-align:center;">
        <a href="https://atrone.github.io/MindMateGPTDisclaimer/">Disclaimer and Research (PLEASE READ)</a>
            </div>
