    <div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
	    <p style="font-size:13px;">Do not navigate away from this page. Check spam</p>
                    <div class="bottom_wrapper">
                        <a style="padding: 10px" target=”_blank” id="buyButton" href="https://buy.stripe.com/7sI038gD10w25eEfZ6">
                            <button style="text-align: center; font-size:20px; padding: 10px 20px; background-color: #1E90FF; color: white; border: none; border-radius: 5px; cursor: pointer;">
                                Get therapy insights
                            </button>
                        </a>
                        <a style="padding: 10px" target=”_blank” id="buyButton2" href="https://buy.stripe.com/cN217c9az6UqayYbIP">
                            <button style="text-align: center; font-size:20px; padding: 10px 20px; background-color: #1E90FF; color: white; border: none; border-radius: 5px; cursor: pointer;">
                                Click if clinical patient
                            </button>
                        </a>

                        <input id="downloadInput" style="display: none" placeholder="mindy@gmail.com (or blank)" />
						<div id="downloadButton" style="background-color: #003366; border-color: #003366; display: none" class="app_button_1">Add to journal</div>
                        <div id="loadingSpinner2" style="display: none;">
                            <div class="spinner"></div>
                        </div>
                    </div>
    </div>
    </div>
    <div class='container3'>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div class='bubble'></div>
        <div id="chat2">
            <div id="messages"></div>
            <input type="text" placeholder="Type here..." id="input2">
        </div>
    </div>
    <button style="display: block; margin: auto;" id="finished">Click me when finished therapy session</button>
