body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    position: relative;
}

.bubble {
    position: absolute;
    background-color: rgba(0, 51, 102, 0.1);
    border-radius: 100%;
    pointer-events: none;
}

.bubble:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 5%;
}

.bubble:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 30%;
    right: 10%;
}

.bubble:nth-child(3) {
    width: 100px;
    height: 100px;
    bottom: 20%;
    left: 20%;
}

.bubble:nth-child(4) {
    width: 120px;
    height: 120px;
    bottom: 10%;
    right: 5%;
}

.container2 {
    padding: 20px;
    position: relative;
    z-index: 1;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

p {
    width: auto;
    max-width: 100%;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

}

p.response {
    align-self: flex-end;
    color: #003366;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;

}

@media screen and (max-width: 600px) {
    p, p.response {
        font-size: 25px;
    }
}

.text {
    flex: 1 0 60%;
    text-align: center;
}

.image {
    flex: 1 0 40%;
    text-align: right;
}

.icon {
    max-width: 100%;
    height: auto;
}


.username {
    font-size: 14px;
}

.cta button {
    background-color: #003366;
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px 20px;
    transition-duration: 0.4s;
    border-radius: 10px;
}}

.section {
    margin-top: 40px;
}

header1 {
    color: #003366;
    font-size: 24px;
}


paragraph, header2 {
    color: #003366;
    font-size: 16px;
}


.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.form-wrapper {
  display: flex;
  align-items: center;
  /* Add flexbox properties to align form items */
    justify-content: flex-end;
  top: 0; /* Position at the top */
  right: 0; /* Position at the right */
  display: flex;
  align-items: center;
  justify-content: flex-end;


}

.form-wrapper label {
  margin-right: 10px;
  /* Add margin to create space between label and input */
}

#key {
    border: 2px solid;
}

.landing-page {
            display: none;
            text-align: center;
            padding: 20px;
}

.row.padded_row,
.row.padded_row > div {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* layout and common global classes */
/* ---------------------------------------------------------------------- */

.chat_window {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #f8f8f8;
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	padding: 13px 0px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
	text-align: center;
	color: #337ab7;
	font-size: 20px;
}

/* messages inside the chatbox */
/* ---------------------------------------------------------------------- */

.messages {
	position: relative;
	list-style: none;
	padding: 20px 10px 0 10px;
	margin: 0;
	height: 500px;
	overflow: scroll;
}

.messages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}

.messages .message .avatar {
	height: 40px;
	width: 40px;
	background-size: cover !important;
	border-radius: 50%;
	display: inline-block;
}

.messages .message .timestamp {
	font-size: 10px;
	font-weight: 300;
	text-align: right;
	margin-top: 5px;
}

.messages .message.appeared {
	opacity: 1;
}

.messages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	min-width: 150px;
	position: relative;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.messages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}

.messages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}

/* bot message */

.messages .message.left .avatar {
	float: left;
	background: url('./img/bot.jpg');
}

.messages .message.left .text_wrapper {
	background-color: #f3eeca;
	margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #f3eeca;
}

.messages .message.left .timestamp {
	color: #b0742f;
}

/* user message */

.messages .message.right .avatar {
	float: right;
	background: url('./img/guy.jpg');
}

.messages .message.right .text_wrapper {
	background-color: #b0d4f3;
	margin-right: 20px;
	float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #b0d4f3;
}

.messages .message.right .timestamp {
	color: #1a5770;
}

/* text inpur from user */

.bottom_wrapper {
	background-color: #fff;
	padding: 5px;
	bottom: 0;
	display: flex;
}

.bottom_wrapper #msg_input {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	border: 1px solid #bcbdc0;
	border-radius: 50px;
	margin-right: 15px;
}
.bottom_wrapper #downloadInput {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	border: 1px solid #bcbdc0;
	border-radius: 50px;
	margin-right: 15px;
}


.app_button_1 {
	width: 140px;
	background-color: #a3d063;
	border-radius: 50px;
	cursor: pointer;
	padding: 12px;

	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

@media (max-width: 600px) {
  .input-field,
  .app_button_1,
  .content-field {
      font-size: 14px;
  }
}


/* faq section | right side */
/* ---------------------------------------------------------------------- */

.panel-group {
	margin: 20px;
}

.panel-heading [data-toggle='collapse']:after {
	font-family: 'FontAwesome';
	content: '\f054';
	float: right;
	font-size: 18px;
	line-height: 22px;
	transition: all 0.2s linear;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle='collapse'].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.center {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.blurb {
  font-size: 18px;
  margin-bottom: 40px;
}
.testimonial {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.notice {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #444;
  margin: 20px 0;
  width: auto;
  max-width: 100%;
}


@media screen and (max-width: 600px) {
  .center {
    width: 100%;
  }
  h1 {
    font-size: 50px;
  }
}
.button-container {
  text-align: center;
}
.button-container button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin:0 auto;
  display:block;
}
.range-slider {
    width: 100%;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    display: none;
}

#last-session-dot {
    background: #ff0000; /* Red */
    opacity: 0.5;
}

#average-dot {
    background: #00ff00; /* Green */
    opacity: 0.5;
}

.container3 {
    height: 93vh;
    position: relative;
}
.testimonial-image {
    text-align: center; /* Center the image */
}

.testimonial-image img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow */
}


.bubble {
    position: absolute;
    pointer-events: none;
    animation: float 4s ease-in-out infinite;
}

.bubble:nth-child(1) {
    top: 10%;
    left: 5%;
    animation-delay: 1s;
}

.bubble:nth-child(2) {
    top: 30%;
    right: 10%;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    bottom: 20%;
    left: 20%;
    animation-delay: 3s;
}

.bubble:nth-child(4) {
    bottom: 10%;
    right: 5%;
    animation-delay: 4s;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

#chat2 {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
}

#input2 {
    width: 100%;
    border: none;
    padding: 5px;
    background: #9bb2c9;
    height: 8%;
    font-size: 20px;
    outline: none;
    color: #003366;
    border-radius: 25px;
    padding: 10px;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background: #003366;
    cursor: pointer;
    z-index: 2;
}

#finished {
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background: #003366;
    border-radius: 12px;
}

#messages {
    overflow: auto;
}


.message {
    display: flex;
    padding: 20px;
    font-size: 40px;
    justify-content: flex-start;
}

.message.response {
    justify-content: flex-end;
    font-style: italic;
    font-size: 40px;
    padding: 20px;
}
.modal {
display: none;
position: fixed;
z-index: 10;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
padding-top: 60px;
}
.modal-content {
background-color: #fefefe;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
z-index: 20;
background-color: #fefefe;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.page-header, .content-section, .page-footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.page-header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.title, .section-title, .sub-title {
    margin-top: 0;
}

.info-list {
    list-style-type: none;
    padding-left: 0;
}

.info-list li {
    margin-bottom: 10px;
    font-size: 15px;
}

.link {
    color: #007BFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.page-footer {
    text-align: center;
    margin-top: 40px;
}

.info-paragraph {
    margin: 10px 0;
    font-size: 15px;
}
.legend-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-blurb {
    position: relative;
    display: inline-block;
    margin-left: 20px; /* Adjust space between the legend and the info blurb */
}

.trigger-text {
    font-size: 14px;
    background-color: #f9f9f9;
    color: #222;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.blurb-content {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #222;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 15px;
    width: 200px;
    z-index: 9999; /* Set a high z-index value so the blurb content appears above all other elements */
    top: 100%; /* Positioning the blurb content below the trigger text */
    left: 0; /* Align the blurb content to the left of the trigger text */
}

.info-blurb:hover .blurb-content {
    display: block;
}
